.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.listSearch {
  flex: 1;
  padding: 10px;
  top: 10px;
  height: max-content;
  margin: auto;
  justify-content: flex-start;
  width: 90%;
}

.lsTitle{
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
  text-align: center;
}

.lsItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem>label{
  font-size: 12px;
}

.lsItem>select{
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #febb02;
  outline: none;
}
.lsItem>input{
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #febb02;
  outline: none;
}
.lsItem>span{
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions{
  padding: 10px;
}

.lsOptionItem{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.lsOptionInput{
  width: 30%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #febb02;
  outline: none;
}

.listSearch>button{
  padding: 10px;
  background-color: #003580;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.listResult {
  flex: 3;
}

.select{
  border-radius: 5px;
  border: none;
}

@media only screen and (min-width: 600px) {
  .listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .listWrapper {
    width: 80%;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .listSearch {
    flex: 1;
    padding: 10px;
    position: sticky;
    top:10px;
    height: max-content;
    width: 100%;
    margin-top: 0%;
  }

  .lsTitle{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
  }
}