.fp {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.fpItem{
  overflow: hidden;
  cursor: pointer;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 7px;
}

.fpImg{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.fpName{
  color: #333;
  font-weight: bold;
}

.fpCity{
  font-weight: 300;
}

.fpPrice{
  font-weight: 500;
}

.fpRating>button{
  color: #febb02;
  border: none;
  background-color: white;
  margin-right: 10px;
  font-weight: bold;
}


.fpRating>span{
  font-size: 12px;
}

@media only screen and (min-width: 600px) {
  .fp {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}