.navbar{
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 10px;
  z-index: 2;
  animation: navbar 1.5s ease-out 0s 1 alternate both;
  min-width: 95%;
  background-color: #003580;
}
@keyframes navbar{
  0% {width: 0%; opacity: 0%;}
  100% {width:100%; opacity: 100%;}
}

.navContainer{
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003580;
}

.logo{
  font-weight: 700;
  font-size: 14px;
  animation: logo 2s ease-out 2.5s infinite alternate both;
  -ms-animation: logo 2s ease-out 2.5s infinite alternate both;
  -webkit-animation: logo 2s ease-out 2.5s infinite alternate both;
  -moz-animation: logo 2s ease-out 2.5s infinite alternate both;
  -o-animation: logo 2s ease-out 2.5s infinite alternate both;
}

.logo:hover{
  font-weight: 700;
  color: #febb02;
  letter-spacing: 1px;
  font-style: italic;
  font-stretch: wider;
}

.navItems{
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}
.navLinks{
  position: relative;
  cursor: pointer;
}
.linksdropdown{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #003580;
  color: white;
  top: 30px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
  z-index: 1;
}
.navLink{
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease-out;
}
.navLink:hover,.navLinks:hover{
  color: #febb02;
}
.navLinks, .navButton, .navUsername{
  animation: nav 2s ease-out 2.5s 1 alternate both;
}
@keyframes nav{
  0% {opacity: 0%;}
  100% { opacity: 100%;}
}

@media only screen and (min-width: 600px) {
  .navbar{
    height: 50px;
    display: flex;
    justify-content: center;
    width: 1024px;
  }
  .navContainer{
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }   
  .navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
  }
  .navUsername{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #003580;
    color: white;
    font-weight: 500;
    font-size: 0.45cm;
  }
}